<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vagter</title>
    <th:block th:include="fragment/header :: header"></th:block>
</head>
<body>
<th:block th:include="fragment/nav :: nav"></th:block>
<form method="post">
    <select name="week">
        <option value="19">Uge 19</option>
        <option value="20">Uge 20</option>
        <option value="21">Uge 21</option>
        <option value="22">Uge 22</option>
    </select><br/>
    <input type="submit" name="/showSelectedWeek" value="Vælg uge"><br/>
</form>

<table>
    <thead>
        <tr>
            <th>Mandag</th>
            <th>Tirsdag</th>
            <th>Onsdag</th>
            <th>Torsdag</th>
            <th>Fredag</th>
            <th>Lørdag</th>
            <th>Søndag</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td id="monday">
            <div th:each="monday : ${monday}">
                <span th:text="${monday.worker.name}"></span><br/>
                <span th:text="${#dates.format(monday.start,'HH:mm')}"></span>-
                <span th:text="${#dates.format(monday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>
        <td id="tuesday">
            <div th:each="tuesday : ${tuesday}">
                    <span th:text="${tuesday.worker.name}"></span><br/>
                    <span th:text="${#dates.format(tuesday.start,'HH:mm')}"></span>-
                    <span th:text="${#dates.format(tuesday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>
        <td id="wednesday">
            <div th:each="wednesday: ${wednesday}">
                <span th:text="${wednesday.worker.name}"></span><br/>
                <span th:text="${#dates.format(wednesday.start,'HH:mm')}"></span>-
                <span th:text="${#dates.format(wednesday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>
        <td id="thursday">
            <div th:each="thursday : ${thursday}">
                <span th:text="${thursday.worker.name}"></span><br/>
                <span th:text="${#dates.format(thursday.start,'HH:mm')}"></span>-
                <span th:text="${#dates.format(thursday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>
        <td id="friday">
            <div th:each="friday : ${friday}">
                <span th:text="${friday.worker.name}"></span><br/>
                <span th:text="${#dates.format(friday.start,'HH:mm')}"></span>-
                <span th:text="${#dates.format(friday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>
        <td id="saturday">
            <div th:each="saturday : ${saturday}">
                <span th:text="${saturday.worker.name}"></span><br/>
                <span th:text="${#dates.format(saturday.start,'HH:mm')}"></span>-
                <span th:text="${#dates.format(saturday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>
        <td id="sunday">
            <div th:each="sunday : ${sunday}">
                <span th:text="${sunday.worker.name}"></span><br/>
                <span th:text="${#dates.format(sunday.start,'HH:mm')}"></span>-
                <span th:text="${#dates.format(sunday.end,'HH:mm')}"></span><br/>
                <hr>
            </div>
        </td>

    </tr>

    </tbody>
</table>

</body>
</html>