<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<body>

<div th:fragment="header">
    <link rel="stylesheet" type="text/css" href="http://localhost:5505/css/bootstrap-grid.min.css"><!-- Bootstraps grundlæggende Grid CSS fil-->
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!--online bootstrap fil-->
    <link rel="stylesheet" type="text/css" href="http://localhost:5505/css/stylesheet.css"> <!-- Vores egen CSS fil. Skal indlæses efter bootstrap for at overskrive classer-->

    <script type="javascript" src="http://localhost:5505/js/bootstrap.min.js"></script><!--Bootstraps grundlæggende javascript fil-->
</div>

</body>

</html>