<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="nav">
        <nav>
            <ul>
                <li><a href="http://localhost:5505/index.html">Forside</a></li>
                <li><a href="http://localhost:5505/vagter">Se vagtplan</a></li>
                <li><a href="http://localhost:5505/medarbejdere">Se en oversigt over medarbejdere</a></li>
                <li><a href="http://localhost:5505/nymedarbejder">Opret en ny medarbejder</a></li>
            </ul>
        </nav>
</div>
</body>
</html>