<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="nav">
        <nav class="nav flex-column">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a href="http://localhost:5505/index.html" class="nav-link">Forside</a></li>
                <li class="nav-item"><a href="http://localhost:5505/vagter" class="nav-link">Se vagtplan</a></li>
                <li class="nav-item"><a href="http://localhost:5505/medarbejdere" class="nav-link">Se en oversigt over medarbejdere</a></li>
                <li class="nav-item"><a href="http://localhost:5505/nymedarbejder" class="nav-link">Opret en ny medarbejder</a></li>
            </ul>
        </nav>
</div>
</body>
</html>