<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vagter</title>
</head>
<body>

<form method="post">
    <select name="week">
        <option value="20">Uge 20</option>
        <option value="21">Uge 21</option>
    </select><br/>
    <input type="submit" name="/showSelectedWeek" value="Vælg uge"><br/>
</form>

<table>
    <thead>
        <th>Mandag</th>
        <th>Tirsdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
        <th>Lørdag</th>
        <th>Søndag</th>
    </thead>
    <tbody>
    <tr th:each="monday : ${monday}">
        <td th:text="${#dates.dayOfWeekName(monday.start)}"></td>
        <td th:text="${#dates.format(monday.start,'HH:mm')}"></td>
        <td th:text="${#dates.format(monday.end,'HH:mm')}"></td>
        <td th:text="${monday.fk_worker}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>