<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vagter</title>
</head>
<body>

<form method="post">
    <select name="week">
        <option value="20">Uge 20</option>
        <option value="21">Uge 21</option>
    </select><br/>
    <input type="submit" name="/showSelectedWeek" value="Vælg uge"><br/>
</form>

<table>
    <thead>
    <th>Dag</th>
    <th>Starttidspunkt</th>
    <th>Sluttidspunkt</th>
    <th>Medarbejder</th>
    </thead>
    <tbody>
    <tr th:each="shift : ${shifts}">
        <td th:text="${#dates.dayOfWeekName(shift.start)}"></td>
        <td th:text="${#dates.format(shift.start,'HH:mm')}"></td>
        <td th:text="${#dates.format(shift.end,'HH:mm')}"></td>
        <td th:text="${shift.fk_worker}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>