<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Liste over alle medarbejdere</title>
    <th:block th:include="fragment/header :: header"></th:block>
</head>
<body>
<th:block th:include="fragment/nav :: nav"></th:block>
<table>
    <thead>
    <tr>
    <th>Navn</th>
    <th>Emailadresse</th>
    <th>Brugerniveau</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="worker : ${workerList}">
        <td th:text="${worker.name}"></td>
        <td th:text="${worker.email}"></td>
        <td th:text="${worker.userlevel}"></td>
        <td><a th:href="@{'medarbejder?id=' + ${worker.id}}">Vis worker</a></td>
        <td><a th:href="@{'medarbejder/delete?id=' + ${worker.id}}" name="deleteMedarbejder">Slet worker</a></td>
    </tr>
    </tbody>

</table>
</body>
</html>