<!DOCTYPE html>
<http auto-config="true" security="none">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret ny worker</title>
</head>
<body>

<form action="/nymedarbejder" method="post">
    <label>Emailadresse</label>
    <input type="email" name="email" required><br/>
    <label>Medarbejderes fulde navn</label>
    <input type="text" name="name" required><br/>
    <label>Kodeord</label>
    <input type="password" name="password" required><br/>
    <input type="submit" name="createMedarbejder" value="Opret worker">

</form>

</body>
</html></http>
